<div class="footer">
  <div>
    <h5 style="color: white">Made with ♥️</h5>
      <a class=social href="https://github.com/XiwayB" target="_blank">
        <i class="fab fa-github">
        </i>
      </a>
  </div>
</div>
