<div class="footer">
  <div>
    <h6><%= link_to "Home", root_path %></h6>
    <h6>Built on Rails</h6>
      <a class=social href="instagram.com/imdb" target="_blank">
        <i class="fab fa-instagram">
        </i>
      </a>
  </div>
</div>
