// banner css
.show-banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0 150px 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 15px;
}

.show-banner h2 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  font-size: 64px;
}

.show-banner {
  background-position: 0% 25%;
}

// typed.js styling
#banner-typed-text {
  color: grey;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

// list description text
.show-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
}

.banner i {
  margin: 0px 10px 0px 0px;
  font-size: 72px;
}

.formNew {
  margin-top: 2em;
  h3 {
    margin-bottom: 2em;
  }
}

// delete list btn

#delete-link {
  margin-top: 5em;
}

// media queries
@media (max-width: 575px) {
  .banner {
    padding: 90px 0 100px 0;
    h1 {
      font-size: 40px;
    }
    i {
      font-size: 44px;
    }
    p {
      font-size: 16px;
    }
  }
}
