//  extra btn styling

.btn {
  border-radius: 5px;
  color: white;
}

.btn-primary:hover{
  color: white;
}

.btn-warning:hover{
  color: white;
}

.swal-button--confirm {
  background: #f4a261;
}

.button-back {
  float: right;
  background-color: #f4a261;
  border-radius: 50%;
}
