.footer {
  height: 5.938em;
  background-color: $black;
  text-align: center;
  display: flex-end;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.fab{
  display:inline-block;
  text-align: center;
  padding: 8px;
}

.social{
  font-size:30px;
  color: $orange;
  text-decoration: none;
}

.social:hover{
  color:#FDD692;
}
