.footer {
  margin-top: 5em;
  bottom: 0;
  height: 5.938em;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  h6 {
    margin-top: 1em;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.fab{
  display:inline-block;
  text-align: center;
  padding: 8px;
}

.social{
  font-size:30px;
  text-decoration: none;
  i {
    color: grey;
  }
}

// Hover functions
.social i:hover{
  color:#FDD692;
}

.social a:hover{
  color:#FDD692;
}
